pdfplumber
pandas
chromadb
tiktoken
python-dotenv
langchain
ipykernel
langchain-community
pypdf
bs4
tqdm
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
torch
tensorflow
keras
transformers
scikit-learn
datasets
langchain_groq
streamlit
pandas
tf-keras
matplotlib
seaborn
pdfplumber
groq